*{
    margin: 0;
    padding: 0;
    /* background-color:#edf0f5 ; */
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    text-align: center;
    margin: 25px;

}

h2{
    /* display: none; */
    display: inline;
    
}
p{
    display: inline;
}

span{
    display: block;
    text-align: center;
}

ul{
    margin:25px;
}
ul li{
    display: inline;

}