body{
    font-family: 'Poppins', sans-serif !important;
}
.logoDiv{
    flex-grow: 1;
  }

.logoDiv img{
    width: 110px;
    height: auto;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
   
  }

  .logoDiv img:hover{
    opacity: .8;
   
  }

  .searchDiv{
    flex-grow: 4;
  }
  
  .cardDiv{
      /* margin-left: 100px !important; */
    flex-grow: 1;
    flex-shrink: 1;
  }

.mainNav{
    min-height: 18vh !important;
    /* background-color: black !important; */
    box-sizing: border-box;
    box-shadow: 0 0 1px black;
}

.cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255 , 255 , 255 ,25);
    box-shadow: 0 0 3px rgba(83, 83, 83, 0.548); ;
    position: relative;
    
}

.cart a{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
   transition: all .2s ease-in-out;
    
}

.cart a:hover{
    color: #e01212 !important;  

}

.searchDiv input{
    padding: 15px 15px;
    /* position: relative; */
    font-size: large;
    color: #e01212 !important;
    font-weight: bold;
    background-color:rgba(83, 83, 83, 0);
    border: 1px solid rgba(83, 83, 83, 0.377);

   

}

.searchDiv input:focus{
    border: 1px solid rgba(224, 18, 18, 0.548);;
    box-shadow: 0 0 5px rgb(224, 18, 18);

}

.searchDiv button {
 background-color:#e01212;

}

.searchDiv button:hover {
  background-color: black;
  border:1px solid black;
  
 }

/* .searchDiv button {
    padding: 9px 23px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(110% ,-50%);
} */