*{
    margin: 0;
    padding: 0;
    /* background-color:#edf0f5 ; */
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    text-align: center;
    margin: 25px;

}


ul{
    margin: 80px;
    list-style-type: lower-roman;
    /* list-style-image: url(/images/facebook.svg); */
    list-style-position: inside;
    list-style: square inside url(/images/facebook.svg);

}
