*{
    margin: 0;
    padding: 0;
    /* background-color:#edf0f5 ; */
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    text-align: center;
    margin: 25px;

}


a{
    
    color:rgb(255, 255, 255) ;
    font-size: 45px;
    border: 5px groove red;
    padding: 5px;
    margin: 35px;
    
}

a:link{
    text-decoration: none;
    background: tomato;
 
}

a:visited{
    background-color: rgb(255, 0, 0);
    color: springgreen;
}

a:hover{
    background-color: rgb(12, 4, 4);
    color: rgb(238, 255, 0);
}

a:active{
    background-color: rgb(47, 0, 255);
    color: rgb(255, 255, 255);
}

